<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JokeGen</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <!-- Categories Programming, Misc, Dark, Pun, Spooky, Christmas -->
    <form action="/" method="post">
      <select name="category" id="cat-select">
        <option value="" data-display="Select">Any</option>
        <option value="Programming">Programming</option>
        <option value="Dark">Dark</option>
        <option value="Spooky">Spooky</option>
      </select>
      <!-- <select name="filter" id="filter">

      </select> -->
      <button class="form-submit" type="submit">Go</button>
    </form>

    <a href="/favlist">Show Favourites</a>

    <section class="joke-card">
      <article class="items">
        <h2><%= setup %></h2>
        <h3 style="display: none" id="del"><%= delivery %></h3>

        <input
          id="reveal"
          class="reveal-button"
          type="button"
          value="Expose the Punchline" />

        <button
          id="reload"
          type="submit"
          class="reveal-button"
          style="display: none">
          <a href="/"> Another One </a>
        </button>

        <div class="card-info">
          <span class="joke-category"> Category: <%= category %> </span>
          <span><a href="">Share</a></span>
          <span class="fav">
            <form action="/fav" method="post">
              <button type="submit">Add to Fav</button>
            </form>
          </span>
        </div>
      </article>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var deliveryText = document.getElementById("del");
        var revealButton = document.getElementById("reveal");
        var reloadButton = document.getElementById("reload");
        revealButton.addEventListener("click", function () {
          deliveryText.style.display = "block";
          revealButton.style.display = "none";
          reloadButton.style.display = "inline-block";
        });
      });
    </script>
  </body>
</html>
