<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JokeGen</title>
  </head>
  <body>
    <!-- Categories Programming, Misc, Dark, Pun, Spooky, Christmas -->

    <h1>Welcome</h1>
    <div class="container"><%= setup %> <%= delivery %></div>
  </body>
</html>
